body{
    font-style: italic;
    background-image: url('images/reset_password.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.fp{
    display: grid;
    row-gap: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 200px;
}
.fp-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.fp-para{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}
.fp-inputs{
    font-weight: bold;
    border: none;
    border-radius: 40px;
    background-color: rgb(42, 144, 144);
    height: 30px;
    width: 250px;
}
.fp-inputs::placeholder{
    padding-left: 20px;
    font-style: italic;
    color: white;
}
.fp-reset-password{
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    margin:20px;
    width: 180px;
}
.fp-reset-password:hover{
    color: white;
    background-color: black;
}
